{% extends 'layout.html' %}

{% block body %}
<div class="row">
    <div class="col-md-2">    
        <!--<h1 class="my-4">Category</h1>-->
        <div class="list-group">
            <a href="/cn_computation_landing" class="list-group-item">CN Computation</a>
            <a href="/to_add" class="list-group-item">Item 1</a>
            <a href="/to_add" class="list-group-item">Item 2</a>
            <a href="/to_add" class="list-group-item">Item 3</a>
            <a href="/to_add" class="list-group-item">Item 4</a>
            <a href="/to_add" class="list-group-item">Item 5</a>
        </div>
    </div>
    <div class="col-md-10">        
        <div class="container">
            {% block analysys_tools %} {% endblock %}
        </div>
    </div>
</div>
{% endblock %}
