{% extends 'cn_computation_main.html' %}

{% block cn_computation %}
<div class="col-md-7">
    <h3>Select prefered criteria</h3>
    <h4>More information about CN computation goes here</h4>

</div>



<div class="col-md-3">
    <br />
    <!--<div>
        <input type="submit" class="btn btn-primary" name="disc_sel" value="Save pref. 1..." style="height:35px; width:150px">
    </div>
    <br />
    <div>
        <input type="submit" class="btn btn-primary" name="disc_sel" value="Save pref. 2..." style="height:35px; width:150px">
    </div>
    <br />
    <div>
        <input type="submit" class="btn btn-primary" name="disc_sel" value="Save pref. 3..." style="height:35px; width:150px">
    </div>
    <br />-->
    <div>
        <a href="cn_computation_view_edit" class="btn btn-primary" style="height:35px; width:175px">Show / select CN items</a>
    </div>
</div>

{% endblock %}