{% extends 'cn_computation_main.html' %}

{% block cn_computation %}


<form method="POST" action="cn_preference_1" class="form-group">
    <div class="col-md-7">
        <div>
            <table class="table table.striped">
                <thead>
                    <tr>
                        <th colspan="5"></th>
                        <th colspan="8"> Curve Number and Associated Areas </th>
                    </tr>
                    <!--subcolumns of Curver Number and Associated Areas-->
                    <tr>
                        <th colspan="5">Cover Description</th>
                        <th colspan="1">A</th>
                        <th colspan="1">Area</th>
                        <th colspan="1">B</th>
                        <th colspan="1">Area</th>
                        <th colspan="1">C</th>
                        <th colspan="1">Area</th>
                        <th colspan="1">D</th>
                        <th colspan="1">Area</th>
                        <th colspan="1"></th>
                    </tr>
                </thead>

                {% for item in session.cn_preference_1 %}

                <tr>
                    <td colspan="5">{{ covers[item][0] }}</td>
                    <td colspan="1"><div id="DA1">{{ covers[item][1] }}</div></td>
                    <td><input type="number" step="any" name="{{ item }}" min="0" max="1" value="0.0"></td>
                    <td><div id="DB1">{{ covers[item][2] }}</div></td>
                    <td><input type="number" step="any" name="{{ item }}" min="0" max="1" value="0.0"></td>
                    <td><div id="DC1">{{ covers[item][3] }}</div></td>
                    <td><input type="number" step="any" name="{{ item }}" min="0" max="1" value="0.0"></td>
                    <td><div id="DD1">{{ covers[item][4] }}</div></td>
                    <td><input type="number" step="any" name="{{ item }}" min="0" max="1" value="0.0"></td>
                    <td><div id="outputP1"></div></td>
                </tr>


                {% endfor %}

            </table>
        </div>

    </div>

    <div class="col-md-3">
        <br />

        <div>
            <input type="submit" class="btn btn-primary" name="disc_sel" value="Compute" style="height:35px; width:150px">
        </div>
        <br />
        <div>
            <a href="cn_preferences_edit" class="btn btn-primary" style="height:35px; width:150px">View / Edit prefs...</a>
        </div>
    </div>
</form>

{% endblock %}

