{% extends 'cn_computation_main.html' %}

{% block cn_computation %}

<form method="POST" action="/cn_computation_edit">
    <div class="col-md-7">
        <!--<h3>Runoff Curve Number (CN) Computation Table</h3>
        <h4>SCS Method</h4>-->
        <h4>Select the Preference to display the selections</h4>
    </div>

 

    <div class="col-md-3">
        <br />
        <div>
            <a href="cn_preference_1" class="btn btn-primary" style="height:35px; width:150px">Preference 1</a>
        </div>

        <br />
        <div>
            <a href="cn_preference_2" class="btn btn-primary" style="height:35px; width:150px">Preference 2</a>
        </div>
        <br />
        <div>
            <a href="cn_preference_3" class="btn btn-primary" style="height:35px; width:150px">Preference 3</a>
        </div>
        <br />

        <div>
            <a href="cn_computation_view_edit" class="btn btn-primary" style="height:35px; width:150px">Show / Edit CN items</a>
        </div>
        <br />
    </div>
</form>


{% endblock %}
