{% extends 'layout.html' %}

{% block body %} 
    <div class="jumbotron text-center">
        <h1>MS4 Analysis</h1>
        <p class="lead">This is the basic structure of this site. The construction is on going.</p>
        <p>Basic introductions with related attractive images/animations will be display on the main page.</P>

        {% if session.logged_in == NULL %}
            <a href="/register" class="btn btn-primary btn-lg">Register</a>
            <a href="/login" class="btn btn-success btn-lg">Login</a>
        {% else %}
            <a href="/analysis_tool_landing" class="btn btn-primary btn-lg">MS4 Analysis Tool</a>
        {% endif %}

    </div>
{% endblock %}





