<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>MS4 Analysis Tool</title>
    <!--<link href="../static/content/bootstrap-1.min.css" rel="stylesheet" />-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="../static/content/site.css" rel="stylesheet" />
</head>
<body>

        {% include 'includes/_navbar.html' %}

        <div class="container">
            {% include 'includes/_messages.html' %}
            {% block body %} {% endblock %}


            <!-- Footer -->
        </div>



            <footer class="text-center">
                <div class="container">
                    <p class="m-0 text-center text-white">Copyright &copy; MS4 Team 2017</p>
                </div>
                <!-- /.container -->
            </footer>

        <!--<script src="../static/scripts/bootstrap.min.js"></script>-->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="//cdn.ckeditor.com/4.7.3/standard/ckeditor.js"></script>
        <!--<script src="../static/scripts/ckeditor/ckeditor.js"></script>-->
        <script type="text/javascript">CKEDITOR.replace('editor')</script>

</body>
</html>